//TEXT COLOR CLASSES
.text--primary {
    color: $primary;
  }
  .text--secondary{
    color: $secondary;
  }
  .text--danger {
    color: $danger;
  }
  .text--warning {
    color: $warning;
  }
  .text--success {
    color: $success;
  }
  .text--info {
    color: $info;
  }
  
  //BACKGROUND COLOR CLASSES
  .background--primary {
    background: $primary;
  }
  .background--secondary{
    background: $secondary;
  }
  .background--danger {
    background: $danger;
  }
  .background--warning {
    background: $warning;
  }
  .background--success {
    background: $success;
  }
  .background--info {
    background: $info;
  }