.label {
    &--primary {
      text-shadow: 0 0 1px $primary;
    }
    &--secondary {
      text-shadow: 0 0 1px $secondary;
    }
    &--danger {
      text-shadow: 0 0 1px $danger;
    }
    &--warning {
      text-shadow: 0 0 1px $warning;
    }
    &--success {
      text-shadow: 0 0 1px $success;
    }
    &--info {
      text-shadow: 0 0 1px $info;
    }
  }
  
  .select{
    border-radius: 12px;
    width: 100px;
    outline: 1px solid $dark-text;
    padding-bottom: 1px;
  }

  .input, .textarea {
    outline: none;
    border: 2px solid transparent;
    border-radius: $buttons-radius;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .verysmallinput{
    width: 68px;
    border-radius: 12px;
    text-align: center;
    outline: none;
    border: 2px solid transparent;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .smallinput {
    width: 100px;
    border-radius: 12px;
    outline: none;
    border: 2px solid transparent;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }

  .field {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
  
    gap: 12px;
  }
  
  .squareinput {
    width: 60px;
    min-height: 70px;
    text-align: center;
    border-radius: 12px;
    outline: none;
    border: 2px solid transparent;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .mediuminput{
    width: 134px;
    height: 25px;
    border-radius: 12px;
    text-align: center;
    outline: none;
    border: 2px solid black;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .mediumlargeinput{
    width: 230px;
    height: 25px;
    margin: 6px;
    border-radius: 12px;
    text-align: center;
    outline: none;
    border: 2px solid black;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .biginput{
    width: 290px;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    outline: none;
    border: 2px solid black;
    transition: all $transition ease;
    color: $dark-text;
  
    &--primary {
      background: transparentize($primary, 0.9);
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  
    &--secondary {
      background: transparentize($secondary, 0.9);
      &:hover, &:focus {
        border-color: $secondary;
      }
    }
  
    &--danger {
      background: transparentize($danger, 0.9);
      &:hover, &:focus {
        border-color: $danger;
      }
    }
  
    &--warning {
      background: transparentize($warning, 0.9);
      &:hover, &:focus {
        border-color: $warning;
      }
    }
  
    &--success {
      background: transparentize($success, 0.9);
      &:hover, &:focus {
        border-color: $success;
      }
    }
  
    &--info {
      background: transparentize($info, 0.9);
      &:hover, &:focus {
        border-color: $info;
      }
    }
  }
  .firstblock_checkbox-bigbox{
    width: 20px;
    height: 20px;
  }
  .smallsquare{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
  }
  .mediumtextarea{
    width: 294px;
    border: 1px solid black;
  }