$primary: #fc8884;
$secondary: #DB3069;

$danger: #b60000;
$warning: #ab7500;
$success: #009d00;
$info: #0000b2;

$light-text: white;
$dark-text: #1F1E1EFF;

$link-color: #720000;
$transition: 0.4s;
$buttons-radius: 8px;
$border-color: #8c8080;